body
{
    background-image: url("/images/cool-background.png");
    font-family: 'Comfortaa', cursive;
    background-attachment: fixed;

}

table, th,td
{
    border:1px solid black;
    text-align: start;
}


